# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg

# Virtual Environment
venv/
.venv/
env/

# Build Artifacts
build/
dist/
Output/
setup_output/
*.spec

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log

# Private Config (Still ignored to prevent accidental leaks of local settings)
config.json
